.suggestion-box {
  position: absolute;
  background: white;
  width: 100%;
  border: 1px solid #ddd;
  z-index: 2000;
  max-height: 250px;
  overflow-y: auto;
  border-radius: 4px;
}

.suggestion-item {
  padding: 8px 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f1f1f1;
}
